<section id="about" class="about">
  <div class="container">

    <div class="row content">
      <div class="d-none d-md-block col-lg-6">
        <img src="assets/img/about.jpg" class="img-fluid" alt="about_picture">
      </div>
      <div class="col-lg-6">
        <h3>About us</h3>
        <p class="fst-italic">
          One of Best Math One to One Full time, Short Courses and Exams Preperations Tutoring Platform in UK.
        </p>
        <ul>
          <li><i class="fas fa-circle-check"></i> Full time Tutoring.</li>
          <li><i class="fas fa-circle-check"></i> Short Courses.</li>
          <li><i class="fas fa-circle-check"></i> Exams Preperations.</li>
        </ul>
        <p>
          Contact us for more details and furthur discussion.
        </p>
        <a class= "contact" href="#contactus">
          Contact Us
        </a>

      </div>
    </div>

  </div>
  </section>