
.about .content h3{
  color:#5ff04c;
}
.img-fluid{
  width: 300px;
  height: 400px;
}
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
.about .content ul li span{
    font-size:medium;
    font-weight: 500;
}  
  .about .content ul i {
    font-size: 16px;
    margin-right: 2px;
    color: #5ff04c;
    line-height: 0;
  }


  