.courses .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef;
}

.courses .course-content {
  padding: 15px;
}


.courses .course-content p {
  font-size: 20px;
  font-weight: 500;
  color: #777777;
}

.courses .course-content a,a:hover {
  text-decoration: none;
  font-size: 14px;
  background: #5fcf80;
  padding: 7px 14px;
  color: #fff;
  margin: 0;
}
