<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-md-6 footer-contact">
            <h3>GENIUS</h3>
            <p>
              <strong>Email:</strong> {{email}}<br>
            </p>
          </div>
          <div class=" col-md-6 footer-links">
            <h3>Our Services</h3>
            <ul>
              <li> <a href="#courses">Math-101</a></li>
              <li> <a href="#courses">GCSE</a></li>
              <li> <a href="#courses">iGCSE</a></li>
              <li> <a href="#courses">A-Level</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>