<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-md-6 footer-contact">
            <h3>GENIUS</h3>
            <p>
              address
              <strong>Phone:</strong> number<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>
          <div class=" col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li> <a href="#">Math-101</a></li>
              <li> <a href="#">GCSE</a></li>
              <li> <a href="#">iGCSE</a></li>
              <li> <a href="#">A-Level</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>