<section id="hero" class="d-flex flex-row justify-content-center align-items-center">
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative">
      <div class="row">
        <div class="col-md-12">
          <h1>Learning Today,<br>Leading Tomorrow</h1>
      <ngx-typed-js [strings]="['GCSE', 'iGCSE','A Level','MATH-121']" [shuffle]="false" [typeSpeed]="65" [loop]="true" [backSpeed]="65">
        <h2>Courses Available <span class="typing"></span></h2> 
      </ngx-typed-js>
      <a class= "contact" href="#contactus">
        Contact Us
      </a>
        </div>  
      </div>
      
      
    </div>
  </section>
</section>