<section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Facts</h2>
       <p>Here are some facts about my development career</p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="pi pi-heart-fill"></i>
            <span class="purecounter">100+</span>
            <p><strong>Students</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="pi pi-file"></i>
            <span class="purecounter">4+</span>
            <p><strong>Courses</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="pi pi-wrench"></i>
            <span class="purecounter">100+</span>
            <p><strong>Hours Of Support</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="pi pi-users"></i>
            <span class="purecounter">5</span>
            <p><strong>Hard Workers</strong></p>
          </div>
        </div>

      </div>

    </div>
  </section>